<div class="container">
      <form method="post" action="/register" class="form-register">
        <h2 class="form-register-heading">Register</h2>

        <h4>Username</h4>
        <input type="username" id="inputUsername" name="username" class="form-control" required autofocus>

        <h4>Email</h4>
        <input type="email" id="inputEmail" name="email" class="form-control"  required>

        <h4>Password</h4>
        <input type="password" id="inputPassword" name="password" class="form-control" required>

        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create an account</button>
      </form>
</div> <!-- /container -->